@{
    // Get the current category ID from the query string
    var currentCategoryId = Context.Request.Query["categoryId"].FirstOrDefault() ?? "1";
}
@model PizzaShop.Data.ViewModel.MenuCategoryVM

<div class="container-fluid m-0 p-0">
    <div class="row m-0">
        <div class="col-auto cateoriesSidebar  text-center p-0">
            <div class="categoriesContainer bg-gray">

                <!-- CATEGAROIES HEADER -->
                <div class="d-flex flex-row align-items-center justify-content-between w-100 mb-2 p-3">
                    <div class="d-flex-inline categoriesTitle">Categories</div>
                    <div class="d-flex flex-row gap-2">
                        <div class="d-flex justify-content-center align-items-center flex-row gap-2">
                            <img src="~/images/icons/plus-solid.svg" class="addCategoryBtn"
                                style="height: 35px; width: 35px;" alt="" data-bs-toggle="modal"
                                data-bs-target="#addCategoryModal">
                        </div>
                    </div>
                </div>

                <!-- CATEGORY LIST -->
                <div class="overflow-scroll w-100 px-3" style="max-height: 400px !important;">
                    <ul class="categories nav nav-pills py-0 px-0" id="pills-tab" role="tablist">
                        @foreach (var categories in Model.Categories)
                        {
                            <li class="nav-item category d-flex align-items-center justify-content-between w-100 px-0 py-2" role="presentation">
                                <a href="/Menu/Index?categoryId=@categories.Categoryid"
                                class="nav-link w-75 d-inline-flex align-items-center px-0 gap-2 @(categories.Categoryid.ToString() == currentCategoryId ? "active" : "")" type="button" role="tab">
                                    <img src="~/images/icons/braillesixdots_99639.png" class="smallIcon"
                                        alt="@categories.Categoryname icon">
                                    <div class="categoryName">@categories.Categoryname</div>
                                </a>
                                <div class="d-inline-flex align-items-center gap-2">
                                    <img src="~/images/icons/pen-to-square-solid.svg" onclick="EditCategory('@categories.Categoryid', '@categories.Categoryname', '@categories.Categorydescription')" class="smallIcon" alt="Edit Category" data-bs-toggle="modal" data-bs-target="#editCategoryModal">
                                    <img src="~/images/icons/trash-solid.svg" onclick="DeleteCategory(@categories.Categoryid)" class="smallIcon " alt="Delete Category" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <partial name="~/Views/Menu/Tables/_MenuItems.cshtml" model="@Model" />
    </div>
    @* <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-white">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
                    <button type="button" class="btn-close h-50" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0 d-flex justify-content-start w-100">
                    <div class="row w-100">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput1" placeholder="John" required>
                                <label for="floatingInput1">Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput2" placeholder="JohnDoe077"
                                    required>
                                <label for="floatingInput2">Description</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-end">
                    <a href="./menu.html" class="btn deleteBtn">Save</a>
                    <button type="button" class="btn cancelBtnModal" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div> *@
    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-white">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
                    <button type="button" class="btn-close h-50" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0 d-flex flex-column justify-content-start w-100">
                    <form asp-action="AddCategory" asp-controller="Menu" id="addCategoryForm">
                        <div class="row w-100">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="Categoryname" name="Categoryname" asp-for="Categoryname" id="floatingInput1"
                                        placeholder="John" required>
                                    <label for="floatingInput1">Name</label>
                                    <span asp-validation-for="Categoryname" class="text-danger fs-6 m-0 p-0"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" asp-for="Categorydescription"
                                        id="floatingInput2" placeholder="JohnDoe077">
                                    <label for="floatingInput2">Description</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-end">
                            <button type="submit" class="btn dltBtn">Save</button>
                            <button type="button" class="btn cancelBtnModal" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-white">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
                    <button type="button" class="btn-close h-50" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0 d-flex flex-column justify-content-start w-100">
                    <form asp-action="EditCategory" asp-controller="Menu" id="editCategoryForm">
                        <div class="row w-100">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="number" class="d-none" asp-for="categoryId" id="edit-category-id">
                                    <input type="text" class="form-control" id="edit-category-name" asp-for="Categoryname"
                                        placeholder="John" required>
                                    <label for="floatingInput1">Name</label>
                                    <span asp-validation-for="Categoryname" class="text-danger fs-6 m-0 p-0"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" asp-for="Categorydescription"
                                        id="edit-category-description" placeholder="JohnDoe077">
                                    <label for="floatingInput2">Description</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-end">
                            <button type="submit" class="btn dltBtn">Save</button>
                            <button type="button" class="btn cancelBtnModal" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-white">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="deleteUserModalLabel">Delete Confirmation </h5>
                    <button type="button" class="btn-close h-50" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="~/images/toppng.com-warning-icon-2400x2400.png" class="warningBtnModal"
                        alt="">
                </div>
                <div class="modal-body pt-0 d-flex justify-content-center">
                    Are you sure you want to Delete?
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <button type="button" class="btn cancelBtnModal" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn deleteCategoryBtn">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
